<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-x1-9 mx-auto">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/logo.png" alt=""/></div>
                <li><h3 class="text-bold">Disciplinas</h3></li>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <button type="submit" class="btn btn-block btn-lg btn-outline-warning">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</header>